.titleStyle {
  font-family: 'Apple Chancery', cursive;
  font-size: 3em;
  border-bottom-style: outset;
  border-bottom-color: coral;
  border-bottom-width: 5px;
  text-align: center;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 10px;
}

.carouselDivStyle {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 15px;
  padding-bottom: 40px;
  border-bottom-style: outset;
  border-bottom-color: coral;
  border-bottom-width: 5px;
  padding-right: 10px;
}

.tweetThumbStyle {
  min-height: 200px;
  max-width: 300px;
  margin: 5px;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: coral;
}

.tweetMainStyle {
  font-size: 20px;
  border-bottom-style: outset;
  border-bottom-color: coral;
  border-bottom-width: 5px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-family: Optima, "sans-serif";
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 10px;
  min-height: 150px;
}

.categoryStyle {
  font-weight: bold;
}

.tweetDataStyle {
  font-size: 20px;
  border-bottom-style: outset;
  border-bottom-color: coral;
  border-bottom-width: 5px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-family: Optima, "sans-serif";
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 10px;
}

table,
td {
  border: 1px solid coral;
}

thead {
  background-color: coral;
  color: white;
}

.columnHead {
  font-weight: bold;
}
